* {
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    box-sizing: border-box;
}

body {
    font: 20px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75vw;
    max-width: 960px;
}

#messages li {
    padding: 5px 10px;
    background: silver;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages {
    margin-bottom: 40px
}

#users {
    list-style-type: none;
    width: 25vw;
    min-height: 100vh;
    top: 0px;
    max-width: 320px;
    position: relative;
    background: #CCC;
    height: 100px;
}

.time {
    float: right;
}

.row {
    display: flex;
    justify-content: center;
}
  
.column {
    float: left;
    padding-left: 0vw;
    padding-right: 0vw;
}